<div>
  <form [formGroup]="patientForm" class="grid">
    <mat-form-field class="w-full">
      <mat-label>Patient Name</mat-label>
      <input matInput type="text" formControlName="patientName" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Location</mat-label>
      <input matInput type="text" formControlName="location" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Treatment Date</mat-label>
      <input matInput [matDatepicker]="picker" type="datetime" />
      <mat-datepicker-toggle matIconSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="flex justify-center">
      <p-toast></p-toast>
      <p-fileUpload
        name="demo[]"
        (onUpload)="onUpload($event)"
        accept="image/*"
        [multiple]="true"
        maxFileSize="1000000"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
  </form>
</div>
