<div>
  <p-tabMenu
    [model]="items"
    [activeItem]="activeItem"
    (activeItemChange)="onActiveItemChange($event)"
  ></p-tabMenu>
  <a mat-raised-button color="primary" [routerLink]="'/view-patients/' + doctorId">View Patients</a>
  <h3>{{title}}</h3>
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()" class="grid">
    <mat-form-field class="w-full">
      <mat-label>Patient Name</mat-label>
      <input matInput type="text" formControlName="PatientName" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Disease</mat-label>
      <input matInput type="text" formControlName="Disease" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Residence</mat-label>
      <input matInput type="text" formControlName="Residence" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Age</mat-label>
      <input matInput type="number" formControlName="Age" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Treatment Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="TreatmentDate" />
      <mat-datepicker-toggle matIconSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="flex justify-center">
      <p-fileUpload
        name="Image"
        url="https://www.primefaces.org/cdn/api/upload.php"
        (onUpload)="onUpload($event)"
        accept="image/*"
        maxFileSize="1000000"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
    <button class="w-[25%] mx-auto" mat-flat-button color="accent">Save</button>
  </form>
</div>
